
.logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 3px;
    width: 100%;
}

.Color_MM {
    background-color: #E6E6E6;
}

